{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>400 - Bad request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/index.ico' %}" sizes="48x48"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/errorpage.css' %}">
</head>

<body>
<h1>400 - Bad request</h1>
<p>Sorry, but the request could not be processed.</p>
</body>

</html>
<!-- IE needs 512+ bytes: https://docs.microsoft.com/archive/blogs/ieinternals/friendly-http-error-pages -->
